



eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

common:
   greeting: hello from config-server
      

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microserviceprac
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
           
