

spring:
  application:
    name: CONFIG-SERVER-NAME

eureka:
  instance:
    prefer-ip-address: true

  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

common:
   greeting: hello from config-server
      


           
